venv/
.idea/
__pycache__/
*/migrations/__pychache__/
*.egg-info
*.pot
*.py[co]
.tox/
pycache
migrations
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
.vscode/
outputs/
inputs/
btiuenv/
media/
pass.txt
